################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/EasyNet.Comment/obj
/src/EasyNet.Comment.Dapper/bin/Debug/netstandard2.0
/src/EasyNet.Comment.Dapper/obj
src/.vs/EasyNet.Comment/v15/Server/sqlite3/db.lock